[includeIf "gitdir:**/gitlab.fit.fraunhofer.de/**"]
    path = .gitconfig-user-work
[includeIf "gitdir:**/gitlab.cc-asp.fraunhofer.de/**"]
    path = .gitconfig-user-work
[includeIf "gitdir:**/github.com/**"]
    path = .gitconfig-user-private
[includeIf "gitdir:**/gitlab.com/**"]
    path = .gitconfig-user-private
[user]
    name = Stefan Dillenburg
[alias]
    st = status
    co = checkout
    br = branch
    cm = commit -v
    ca = commit -av
    aa = add .
    patch = add --patch
    lg = log --graph --decorate
    lgs = log --graph --stat --decorate
    mg = merge --no-ff
    undo = reset --hard
[core]
    editor = nvim
    excludesFile = ~/.gitignore
[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto
    ui = auto
[init]
    defaultBranch = main
[commit]
	gpgsign = true
[pull]
    rebase = true
[pager]
    diff = delta --syntax-theme 'Visual Studio Dark+'
    log = delta --syntax-theme 'Visual Studio Dark+'
    reflog = delta --syntax-theme 'Visual Studio Dark+'
    show = delta --syntax-theme 'Visual Studio Dark+'
[interactive]
    diffFilter = delta --syntax-theme 'Visual Studio Dark+' --color-only --features=interactive
[delta]
    features = decorations
[delta "interactive"]
    keep-plus-minus-markers = false
[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[remind]
    paths = /Users/dillenbu/Workspace/codebase/gitlab.cc-asp.fraunhofer.de/**
