[user]
    name = Stefan Dillenburg
    email = stefan.dillenburg@fit.fraunhofer.de
	signingkey = C21FA419222B41E6
[alias]
    st = status
    co = checkout
    br = branch
    cm = commit -v
    ca = commit -av
    aa = add .
    patch = add --patch
    lg = log --graph --oneline --decorate
    lgs = log --graph --oneline --stat --decorate
    mg = merge --no-ff
    undo = reset --hard
[core]
    editor = nvim
    excludesFile = ~/.gitignore
[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto
    ui = auto
[init]
    defaultBranch = main
[commit]
	gpgsign = true
[pull]
    rebase = true
[pager]
    diff = delta --theme GitHub
    log = delta --theme GitHub
    reflog = delta --theme GitHub
    show = delta --theme GitHub
[interactive]
    diffFilter = delta --theme GitHub --color-only --features=interactive
[delta]
    features = decorations
[delta "interactive"]
    keep-plus-minus-markers = false
[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
